<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Sample</title>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" v-model="newTask" />
        <button v-on:click="addTask">追加</button>
      </div>
      <div v-for="task in taskList">
        <input
          type="checkbox"
          v-model="task.isChecked"
          v-on:change="saveTaskList"
        />{{ task.title }}
      </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
